.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2rem 0;

    .brand_container {
        display: flex;

        .brand {
            h2 {
                font-size: 40px;
                span {
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                    letter-spacing: 0.1rem;
                    color: #f13e92;
                }
            }
        }

        .toggle {
            display: none;
        }
    }

    .links {
        ul {
            display: flex;
            align-items: center;
            gap: 3rem;

            li {
                a {
                    text-decoration: none;
                    color: inherit;
                    font-size: 18px;

                    &:hover {
                        @include gradientText;
                    }
                }

                i{
                    &:hover {
                        @include gradientText;
                    }
                }
            }
        }
    }
}